
# Ignore folder name node_modules
.idea/

# back end
back/resources/db/
back/resources/logs/

# Ignore file name xxx.txt
# xxx.txt

# Ignore all .java files
# .java


# front end
# Compiled binary addons (http://nodejs.org/api/addons.html)
front/build/Release

# Dependency directories
front/node_modules
front/jspm_packages

# Optional npm cache directory
.npm
# Optional REPL history
.node_repl_history

.DS_Store
front/node_modules/
front/dist/
front/npm-debug.log
front/www/
*.env
